@font-face {
  font-family: 'SEGA LOGO FONT';
  src: url('./Fonts/SEGA.TTF');
}

h1 {
  font-family: 'SEGA LOGO FONT', 'Segoe UI', sans-serif;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  font-weight: 200;
  color: #10ffbe;
  text-shadow: 0.3rem 0rem 3px #10ff51;
}
